.example {
    background-color: $white-white-smoke-light;
    padding-top: 27px;
    padding-bottom: 25px;
  
    @media (min-width: $tablet-width) {
      background-color: transparent;
      padding: 0;
      background-image: linear-gradient(to top, $white-white-smoke-light 462px, transparent 462px);
    }
  
    @media (min-width: $desktop-width) {
      padding-bottom: 64px;
    }
  }

  .example__wrapper {
    @media (min-width: $tablet-width) {
      min-width: $tablet;
      width: 84%;
      margin: 0 auto;
    }
  
    @media (min-width: $desktop-width) {
        width: $desktop;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
  }

  .example__data {
    min-width: $mobile;
    width: 87%;
    margin: 0 auto;
  
    @media (min-width: $tablet-width) {
      width: auto;
      margin: 0;
    }
  
    @media (min-width: $desktop-width) {
      width: 436px;
    }
  }

  .example__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 33px;
  
    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 400;
    }
  
    @media (min-width: $desktop-width) {
        margin-top: 56px;
        margin-bottom: 146px;
    }
  }

  .example__text {
    font-family: 
    .font(n; 400; 14; 18);
    .zero-mp();
    margin-bottom: 25px;
  
    @media (min-width: @tablet-width) {
      .font(n; 400; 16; 24);
      margin-bottom: 54px;
    }
  
    @media (min-width: @desktop-width) {
      margin-bottom: 69px;
    }
  }