.page-footer__top--background {
    background-color: $white-white-smoke;
  }

  .page-footer__bottom {
    background-color: $white-white-smoke;
  
    @media (min-width: $tablet-width) {
        padding-top: 53px;
        padding-bottom: 57px;
    }
  
    @media (min-width: $desktop-width) {
        padding-top: 58px;
        padding-bottom: 57px;
      .p-tb(58; 57);
    }
  }