.comment-data {
    margin-bottom: 22px;
  
    @media (min-width: $tablet-width) {
      margin-bottom: 60px;
    }
  }

  .comment__title {
    margin-bottom: 38px;
  
    @media (min-width: @tablet-width) {
      margin-bottom: 76px;
    }
  }