.form__list {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $grey-charcoal;
  
    @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
    }
  }

  .form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .form__button-wrapper {
    min-width: $mobile;
    width: 87%;
    margin: 0 auto;
  
    @media (min-width: $tablet-width) {
      min-width: $tablet;
      width: 84%;
      padding-left: 40px;
      padding-right: 36px;
      display: flex;
      justify-content: start;
    }
  
    @media (min-width: $desktop-width) {
        width: $desktop;
        margin: 0 auto;
        padding: 0;
    }
  }

  .form__button {
    width: $mobile;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    .font(n; 400; 16; 20);
    margin-bottom: 21px;
    .p-tb(10; 10);
    .animation();
  
    @media (min-width: @tablet-width) {
      width: 282px;
      .font(n; 400; 20; 20);
      margin-right: 61px;
      margin-bottom: 0;
      .p-tb(16; 16);
    }
  
    @media (min-width: @desktop-width) {
      width: 568px;
      margin-right: 81px;
    }
  }