.form__list {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $grey-charcoal;
  
    @media (min-width: $tablet-width) {
        font-size: 20px;
        lh30
      .font(n; 400; 20; 30);
    }
  }