.products {
    margin: 0 auto 25px;
  
    @media (min-width: $tablet-width) {
      min-width: @tablet;
      width: 84%;
      margin: 0 auto 9px;
    }
  
    @media (min-width: @desktop-width) {
      .wrap(@desktop);
      margin-bottom: 17px;
    }
  }