.product {
    min-height: 166px;
    border: 1px solid $white-white-smoke-dark;
    margin-top: -1px;
    margin-left: -1px;
    padding: 0 20px 0;
    
    .font(n; 400; 16; 20);
  
    @media (min-width: @tablet-width) {
      min-height: 511px;
      margin: 0;
      padding: 0;
      border: none;
    }
  }