.programs {
    margin-bottom: 27px;
    .animation();
  
    @media (min-width: @tablet-width) {
      margin-bottom: 45px;
    }
  
    @media (min-width: @desktop-width) {
      margin-bottom: 41px;
    }
  }